h1,h3,h4,h5,ul,li{
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.fa-solid{
    margin: 5px;
}
.fas{
    margin: 5px;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
textarea{
    font-family: 'Bebas Neue', cursive;
}

.carousel-item img{
    width: 100%;
    height: 400px;
}
@mixin flexbox-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

$estilos:(
    centro:center,
    rem: 1.5rem,
    fondoTransparente: #f16f48c4, 
);

.boton{
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
    margin: 2px;
}

.novedades{
    background-color: #000;
}

.ContenedorNegro{
    background-color: #000;
}

.titulosh3{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #fc744c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}


.botonResponsivo{
    color:$colorPrincipal;
}
.navbar-toggler-icon{
    color:$colorPrincipal;
}

label{
    font-family: 'Roboto', sans-serif;
    }

input{  
    font-family: 'Roboto', sans-serif;
    &:hover{
        color: $colorPrincipal;
    }
    }
    
h3{
    @extend .titulosh3    
    }
h1{
    @extend .titulosh3
}
h4{
    @extend .titulosh3;
}

.textarea{
    height: 20px;
    }

.titulo__productos{
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;
        color:$colorBackground;
        text-align: center;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        background-color: $colorContenedor;
}

.main__titulo{
        text-align: center;
        font-size: 35px;
        
}

.producto_titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    transition: all .5s;
}

.main{
    height: 65vh;
    
}

.main__contenedor{
    @include flexbox-center;
    height: 80%;
    margin: 0 auto;
    border: solid 2px #fc744c;
    background-color: $colorContenedor;
    img{
    width: 200px;
    height: 300px;
    }

}

.novedades__titulo{
    font-size: 40px;
}

.producto--img{
    width: 250px;
    height: 250px;
}

.producto{
    border: solid 2px #fc744c;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contenedor_productos{
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-items: center;
    padding: 5px;   
}

.producto_descripcion{
    background-color: $colorPrincipal;
    text-align: center;
    padding: 5px;
}

.contacto{
    background-size: contain;
    background-image: url(https://images.unsplash.com/photo-1597092430960-9724170fcbbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80)
}

.contacto__formulario{
    @include flexbox-center;
    height: 55vh;
    padding: 2rem;
    fieldset{
        background-color: $colorContenedor;
        border-radius: 5px;
        padding: map-get($estilos,rem);
        border: solid 1px white;
        input{
            @extend .boton
        }
    }
    label{
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        margin-top: 5px;
        margin-left: 5px;
        color: white;
    }

}

.contacto__formulario fieldset input{
    @extend .boton
}

.iniciar__contenedor{
    @include flexbox-center;
    height: 55vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: white;
}

.iniciar__contenedor2{
    @include flexbox-center;
    color: white;
    height: 80vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.iniciar__form{
    background-color: $colorContenedor;
    border-radius: 5px;
    padding: map-get($estilos,rem);
    border: solid 1px white;
    input{
        @extend .boton
    }
    label{
        font-family: 'Bebas Neue', cursive;
        font-size: 17px;
    }
}


.contenedor__iniciarBtn{
    display: flex;
    justify-content: center;
}

.iniciar--btn{
    width: 100px;  
    &:hover{
        color: $colorPrincipal;
    }
}

.iniciar__contenedor--link{
    display: flex;
    justify-content: center;
    font-size: 19px;
}
a {
    text-decoration: none;
    color: white;
    &:hover{
        color:white;
        transform: scale(1.1,1.1);
    }
}

.iniciar{
    background-size: contain;
    background-image: url(https://images.unsplash.com/photo-1597092430960-9724170fcbbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    h2{
        text-align: center;
    }
}


.btn{
    width: 100px;
    background-color: #fff;
    color: #000;
    &:hover{
        color: $colorPrincipal;
    }
}
.contacto__formulario--btn{
    display: flex;
    justify-content: center;
}

.genero{
    width: 50px;
}


.main__contenedor a img{
    transition: all 1.5s;
    &:hover{
        transform: scale(1.3,1.3);
    }
}

.Compra{
    margin-top: 8px;
}

$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
.btn-comprar{
    color:white;
    font-size:22px;
    text-align:center;
    
    font-family:'Bebas Neue', cursive; ;
    &:hover{
        color: white;
        animation: neonGlow 2s infinite alternate $easeInOutQuad;
    }
  }
  
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                   0 0 20px #ffffffcc,
                   0 0 22px  rgba(255, 255, 255, 0.8),
                
                   
    }
    100% {
      text-shadow: 
                   0 0 8px rgba(255,255,255,.8),
                   0 0 10px rgba(255,255,255,.8),

    }
  }
.contenedor_padre{
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDg4MDd8MHwxfHNlYXJjaHwzMXx8Y29tcHV0ZXJ8ZW58MHx8fHwxNjQ3OTA4Mzk5&ixlib=rb-1.2.1&q=80&w=1080);
}
.padre{
    margin-top: 10px;
    padding: 5px;
    
  }
  @font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 4vw;
    line-height: 4vw;
    text-shadow: 0 0 3vw #F40A35;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
.btn-inicio{
    color: $colorPrincipal;
    &:hover{
        transform: scale(1.1, 1.1);
        
        color: $colorPrincipal;
    }
    &::before{
        transform: scale(1.1, 1.1);
        
        color: $colorPrincipal;
    }
}
