

@media screen and (max-width: 576px){ 

    .carousel-item img{
        width: 100%;
        height: 250px;
    }

    .neon{
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .btn-comprar{
        font-size: 17px;
    }
    .Compra{
        margin-top: 5px;
    }
    .header__nav ul li {  
        font-size: 15px;   
    }
    

    h3{
        font-size: 16px;
    }

    .main__titulo{
        font-size: 25px;
    }

    .main{
        
        height: 255px;
        
    }

    .main__contenedor{
        flex-direction: column;
        height: 45vh;
        width: 75%;
        margin-bottom: 30px;
        img{
            width: 150px;
            height: 150px;  
        }
    }

    .footer__contenedor{
        grid-template-columns: 1fr;
        height: auto;
        row-gap: 10px;
        font-size: 13px;
        h4{
            font-size: 17px;
        }
    }

    .copyright{
        padding: 10px;
        font-size: 12px;
    }

    input{
        width: 100%;
    }

    .btn{
        width: 100px;
    }

    .iniciar__form{
        background-color: $colorContenedor;
        border-radius: 5px;
        padding: 1.5rem;
        border: solid 1px white;  
        font-size: 14px;
        input{
            font-family: 'Bebas Neue', cursive;
            font-size: 14px;
            margin: 2px;  
        }
        label{
            font-size: 14px;  
        }
    }

    
    .genero{
        width: 50px;
    }
    
    .contenedor__iniciarBtn{
        display: flex;
        justify-content: center;
    }
    
    .iniciar--btn{
        width: 100px;
    }

    .producto_descripcion{
        font-size: 14px;
    }
    .contenedor_productos {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 1px;
        margin-bottom: 10px;
    }

    .producto{
        margin-bottom: 10px;
    }

    .producto--img {
        width: 170px;
        height: 170px;
    }

    .contacto__formulario fieldset label{
        font-size: 16px;
        input{
            font-size: 16px;
        }
         
    }

    .contacto__formulario fieldset input{
        font-size: 16px;
     
    }
    
    .producto_titulo{
        font-size: 16px;
    }
    
    .cajatexto{
        width: 65vw;
    }
}

@media (min-width:576px) and (max-width: 992px){ 
    .carousel-item img{
        width: 100%;
        height: 350px;
    }

    .neon{
        font-size: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .producto {
        margin-bottom: 10px;
      }
    .btn-comprar{
        font-size: 19px;
    }
    .Compra{
        margin-top: 5px;
    }
    h3{
        font-size: 22px;
    }

    h4{
        font-size: 16px;
    }

    .header__nav ul li {  
        font-size: 18px; 
    }

    .main__titulo{
        font-size: 25px;
    }

    .main{
        
        height: 355px;
        
    }

    .main__contenedor{
        flex-direction: column;
        height: 45vh;
        width: 75%;
        margin-bottom: 25px;
        img{
            width: 150px;
            height: 150px;  
        }
    }

    
    .footer__contenedor{
        grid-template-columns: 1fr;
        height: auto;
        row-gap: 10px;
        justify-items: center;
        img{
            width: 40px;
            
        }
        h4{
            font-size: 19px;
        }
    }

    h4{
        font-size: 19px;
    }

    .contenedor_productos {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 1px;
    }

    .copyright{
        padding: 10px;
    }


    .iniciar__contenedor2 {
        color: white;
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 14px;
        label{
            font-size: 14px;
        }
        input{
            font-size: 14px;
        }
    }
    .producto--img {
        width: 200px;
        height: 200px;
    }
    input{
        width: 100%;
    }
}